@model InventoryManagement.Models.Hierarchy
@using InventoryManagement.Helper;
@{
    ViewBag.Title = "Hierarchy";
}

<style>
    .checkboxtree {
    }
</style>
<link href="~/Content/jsTree/themes/default/style.min.css" rel="stylesheet" />
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <label>Category</label>
            @Html.DropDownListFor(x => x.Id, new SelectList(Commonhelper.GetHierarchy(), "Value", "Text"), "Select", new { @class = "form-control" })

        </div>
        <div class="col-md-4">
            <label></label><br />
            <div id="tree" style="padding:2rem 0rem 1rem;"></div>
        </div>
        <div class="col-md-4">
            <label></label><br />
            <button id="btnSave" type="submit" class="btn btn-default" style="margin-top:2rem;">Create</button>

        </div>
    </div>
   
    
</div>
@section scripts
{
    <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
    @*<script type="text/javascript">
        $(document).ready(function () {
            var tree = $('#tree').tree({
                primaryKey: 'id',
                uiLibrary: 'bootstrap4',
                dataSource: '/Setting/LazyGet',
                checkboxes: true,
                backColor: 'green'
               
            });

            //$('input.checkbox').not(this).prop('checked', false);
            $('#btnSave').on('click', function () {
                var child = [];
                var checkedIds = tree.getCheckedNodes();
                for (var i = 0; i < checkedIds.length; i++) {
                    var Hierarchy = {
                        Id: checkedIds[i]
                    }
                    child.push(Hierarchy);
                }
                var Hierarchy = {
                    Childs: child,
                    ParentId: 100

                }
                debugger;
                $.ajax({
                    type: "POST",
                    data: JSON.stringify(Hierarchy),
                    url: '/Setting/Hierarchy',
                    contentType: "application/json",
                    dataType: 'json',
                }).done(function (res) {

                });

            });
        });
    </script>*@
  
    <script>
        $("#Id").on('change', function () {
        
            var tree = $('#tree').tree({
                primaryKey: 'id',
                uiLibrary: 'bootstrap4',
                data: {
                    parentId: $("#Id").val()
                },
                checkboxes: true,
                dataSource: '/Setting/LazyGet',
                lazyLoading: true
               
            });
            tree.reload({ parentId: $("#Id").val() });
            
        })
    </script>
} 