
@{
    ViewBag.Title = "Purchaseorder";
}

<div class="col-xs-12">
    <a href="/Transaction/CreatePurachaseorder" class="btn btn-primary">
        <div class="d-flex w-100 justify-content-start align-items-center">
            <span>Add New</span>
        </div>
    </a>

</div>
<br />
<br />


