
@model InventoryManagement.Models.ItemMaster


<table class="table nowrap">
    <thead>
        <tr>
            <th>Sno</th>
            <th>Property</th>
            <th>Value</th>
        </tr>
        @foreach (var item in Model.ItemOptionalDetails.ToList())
        {
            var index = Model.ItemOptionalDetails.IndexOf(item);
        <tr>
            <td>@(index + 1)</td>
            <td>
                @Html.HiddenFor(x=>x.ItemOptionalDetails[index].OptionalId)
                @Html.TextBoxFor(x => x.ItemOptionalDetails[index].Description, new { @class = "form-control",@readonly=true })



            </td>
            <td>
                @Html.TextBoxFor(x => x.ItemOptionalDetails[index].OptionalValue, new { @class = "form-control" })

            </td>

        </tr>
        }
    </thead>
</table>  