@model List<InventoryManagement.Models.CategoryMaster>
    @{
        ViewBag.Title = "Category";
    }

    <div class="col-xs-12">
        <a href="/Master/CreateCategory" class="btn btn-primary">
            <div class="d-flex w-100 justify-content-start align-items-center">
                <span>Add New</span>
            </div>
        </a>

    </div>
    <br />
    <br />