
@{
    ViewBag.Title = "Item";
}
@*<link href="~/Content/kendo/2014.1.318/kendo.common.min.css" rel="stylesheet" />
    <link href="~/Content/kendo/2014.1.318/kendo.bootstrap.min.css" rel="stylesheet" />*@
<link href="https://kendo.cdn.telerik.com/2020.1.406/styles/kendo.common-empty.min.css" rel="stylesheet-disabled">
<link href="https://kendo.cdn.telerik.com/2020.1.406/styles/kendo.rtl.min.css" rel="stylesheet-disabled">
<link href="https://kendo.cdn.telerik.com/2020.1.406/styles/kendo.default-v2.min.css" rel="stylesheet">
<link href="https://kendo.cdn.telerik.com/2020.1.406/styles/kendo.default-v2.mobile.min.css" rel="stylesheet-disabled">
<style>
    .k-grid-actions {
        display: inline-block;
        margin-left: 5px;
    }

    #grid {
        font-size: medium !important;
        font-family: Times New Roman, serif !important;
        font-style: unset !important;
    }

    .k-edit-cell .k-widget.k-tooltip, html .k-grid-edit-row .k-widget.k-tooltip {
        color: red !important;
    }
</style>
<div class="col-xs-12">
    <a href="/Master/CreateItem" class="btn btn-primary">
        <div class="d-flex w-100 justify-content-start align-items-center">
            <span>Add New</span>
        </div>
    </a>

</div>
<br />
<br />



@(Html.Kendo().Grid<InventoryManagement.Models.ItemMaster>()
                                       .Name("grid")
                                       .Columns(columns =>
                                       {
                                            columns.Bound(p => p.ProductCode).Filterable(false).HeaderHtmlAttributes(new { @class = "hidden-xs" }).Width(150);
                                           //columns.Bound(c => c.ProductName).Title("Product Name").HeaderHtmlAttributes(new { @class = "hidden-xs" }).Width(150);
                                           columns.Bound(p => p.ProductName).Width(500).Filterable(ftb => ftb.Cell(cell => cell.Operator("contains").SuggestionOperator(FilterType.Contains))).HeaderHtmlAttributes(new { @class = "hidden-xs" }).Width(250);
                                           columns.Bound(c => c._CategoryMaster.Name).Title("Category").Filterable(false).HeaderHtmlAttributes(new { @class = "hidden-xs" }).Width(150);
                                           columns.Bound(c => c._SubCategoryMaster.Name).Title("Subcategory").Filterable(false).HeaderHtmlAttributes(new { @class = "hidden-xs" }).Width(150);
                                           columns.Bound(c => c.Mrp).Title("Mrp").Filterable(false).HeaderHtmlAttributes(new { @class = "hidden-xs" }).Width(100);
                                           columns.Bound(c => c.Costprice).Title("Cost Price").Filterable(false).HeaderHtmlAttributes(new { @class = "hidden-xs" }).Width(100);
                                           columns.Bound(c => c.Sellprice).Title("Sell Price").Filterable(false).HeaderHtmlAttributes(new { @class = "hidden-xs" }).Width(100);
                                           columns.Template(c => @Html.ActionLink("Permission", "EditPermission", "Account", null, new { id = c.Id }).ToHtmlString())
                                         .ClientTemplate(@Html.ActionLink("Edit", "EditItem", "master", new { id = "#=Id#" }, new { @class = "k-button k-button-icontext k-grid-permission" }).ToHtmlString()).Title("Action").HeaderHtmlAttributes(new { @class = "hidden-xs" }).Width(150);


                                       })
.Scrollable()
.Sortable()
.Filterable(ftb => ftb.Mode(GridFilterMode.Row))
.HtmlAttributes(new { style = "height:400px;" })
.Pageable(pageable => pageable
.Refresh(true)
.PageSizes(true)

.ButtonCount(10)
)

.DataSource(dataSource => dataSource
.Ajax()
.Model(model =>
{
    model.Id(p => p.Id);


}


)
.ServerOperation(true)
.Read(read => read.Action("Item_Read", "Master"))


.PageSize(10)
))
@section Scripts {

    <script src="https://kendo.cdn.telerik.com/2020.1.406/js/kendo.all.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2020.1.406/js/kendo.aspnetmvc.min.js"></script>
}