@model List<InventoryManagement.Models.SubCategoryMaster>
@{
    ViewBag.Title = "Subcategory";
}
<link href="~/Content/kendo/2014.1.318/kendo.common.min.css" rel="stylesheet" />
<link href="~/Content/kendo/2014.1.318/kendo.bootstrap.min.css" rel="stylesheet" />
<div class="col-xs-12">
    <a href="/Master/CreateSubcategory" class="btn btn-primary">
        <div class="d-flex w-100 justify-content-start align-items-center">
            <span>Add New</span>
        </div>
    </a>

</div>
<hr />

@(Html.Kendo().Grid<InventoryManagement.Models.SubCategoryMaster>()
                            .Name("grid")
                            .Columns(columns =>
                            {
                                columns.Bound(c => c.Name).HeaderHtmlAttributes(new { @class = "hidden-xs" });
                                columns.Bound(c => c.CategoryId).EditorTemplateName("Categories").Title("Category").ClientTemplate("#=CategoryName#");


                                //columns.Bound(c => c._CategoryMaster.Name).HeaderHtmlAttributes(new { @class = "hidden-xs" }).Title("Category");
                                columns.Bound(c => c.Description).HeaderHtmlAttributes(new { @class = "hidden-xs" }).Title("Description");

                                columns.Command(command => { command.Edit(); command.Destroy(); }).Width(220).HeaderHtmlAttributes(new { @class = "hidden-xs" });

                            })
.Scrollable()
.Editable(editable => editable.Mode(GridEditMode.InLine))
.Pageable(pageable => pageable
.Refresh(true)
.PageSizes(true)

.ButtonCount(5)

)

.DataSource(dataSource => dataSource
.Ajax()
.Model(model =>
{
    model.Id(p => p.Id);

}


)

.Read(read => read.Action("SubCategory_Read", "master"))
.Update(update => update.Action("UpdateSubcategory", "master"))
.Destroy(update => update.Action("DeleteSubcategory", "master"))


.PageSize(5)
))
@*<div class="col-xs-12">

        <div class="table-responsive-vertical shadow-z-1">
            <table id="table" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>Sno</th>
                        <th>Category</th>
                        <th>Name</th>
                        <th>Action</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        var index = Model.IndexOf(item);
                    <tr>
                        <td data-title="ID">@(index + 1)</td>
                        <td data-title="Name">@item._CategoryMaster.Name</td>
                        <td data-title="Name">@item.Name</td>
                        <td data-title="Link">
                            <a href="/Master/EditSubcategory/@item.Id" class="btn btn-default">
                                <div class="d-flex w-100 justify-content-start align-items-center">
                                    <span>Edit</span>
                                </div>
                            </a>
                            <a href="#" class="btn btn-danger del">
                                <div class="d-flex w-100 justify-content-start align-items-center">
                                    <span>Delete</span>
                                </div>
                            </a>


                        </td>


                    </tr>
                    }


                </tbody>
            </table>
        </div>

    </div>*@

